/*
    HISTORY
*/

.call_queue {
    color: rgb(66, 66, 255);
}

.call_complete {
    color: rgb(0, 146, 0);
}

.call_failed {
    color:rgb(175, 3, 3);
}

.call_answer {
    color: rgb(106, 56, 187);
}
